<html>
<img src ='/static/medias/home.jpg' >

<p style = 'color:red;'>请输入添加图书信息</p>

<br>
<style type = 'text/css'>
span{color:red;}
</style>
<body>
<form action = '' method = 'get'>
图书ISBN&nbsp<input type = 'text' name = 'isbn' required='required' /><span>*</span><br>
书名&nbsp&nbsp&nbsp&nbsp&nbsp<input type = 'text' name = 'title'required='required' /><span>*</span><br>
作者&nbsp&nbsp&nbsp&nbsp&nbsp<input type = 'text' name = 'author_name' required='required' /><span>*</span><br>
出版社&nbsp&nbsp&nbsp<input type = 'text' name = 'publisher' required='required' /><span>*</span><br>
出版日期
<input type = 'text' name = 'publisherdate' pattern = [0-9]{4}-[0-9]{2}-[0-9]{2} placeholder = 'YYYY-MM-DD' required='required'/><span>*</span><br>
价格&nbsp&nbsp&nbsp&nbsp&nbsp<input type = 'text' name = 'price' required='required'/><span>*</span><br>
<span>*</span>为必填项
<hr />
<input type = 'reset' value = 'Reset' />
<input type = 'submit' value = 'Submit' name = 'Submit' />
</form>
<body>
</html>
