<html>
<head>
<title>欢迎使用图书管理系统</title>
</head>

<body>
<p><strong>请输入需要更改的信息</strong></p>
{% if errors %}
<ul>
{% for error in errors %}
<li>{{ error }}</li>
{% endfor %}
</ul>
{% endif %}
<form  method="get">
<table>
        <tr>
            <td><label  for="aut">作者：</label></td>
            <td><input type="text" id="aut" name="author" /></td>
        </tr>
        <tr>
            <td><label  for="pub">出版社：</label></td>
            <td><input type="text" id="pub" name="publisher" /></td>
        </tr>
		<tr>
            <td><label  for="publi">出版日期：</label></td>
            <td><input type="date" id="publi" name="publishDate" /></td>
        </tr>
		<tr>
            <td><label  for="pri">价格：</label></td>
            <td><input type="text" id="pri" name="price" /></td>
        </tr>
        <tr>
            <td colspan=20>
                <input type="reset" />
                <input type="submit" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>