<html>
<head>
<title>欢迎使用图书管理系统</title>
</head>
<body>
<p><strong>详细信息</strong></p>

<table border="1">
<tr>
<th>作者序号</th><th>姓名</th><th>年龄</th><th>国籍</th>
</tr>

<tr>
<td>{{ author.authorid }}</td>
<td>{{ author.name }}</td>
<td>{{ author.age }}</td>
<td>{{ author.country }}</td>
</tr>
</table>

<p><strong></strong></p>
<p><strong></strong></p>

<table border="1">
<tr>
<th>ISBN</th><th>书名</th><th>作者编号</th>
<th>出版社</th><th>出版日期</th><th>价格</th><th></th><th></th>
</tr>
<tr>
<td>{{ book.isbn }}</td>
<td>{{ book.title }}</td>
<td>{{ book.authorid_id }}</td>
<td>{{ book.publisher }}</td>
<td>{{ book.publishDate }}</td>
<td>{{ book.price }}</td>
<td><a href="{% url 'books.views.dele' book_id=book.isbn  %}">删除</a></td>
<td><a href="{% url 'books.views.update' book_id=book.isbn  %}">修改</a></td>
</tr>
</table>

<p><a href="/">首页</a></p>
<p>点击<a href="/"><strong>此处</strong></a>返回</p>
</body>
</html>